<div class="container mt-4">
  <div class="row mb-3">
    <div class="col-md-6">
      <input type="text" [(ngModel)]="search" (ngModelChange)="onSearchChange($event)" class="form-control"
             placeholder="Search by project id">
    </div>
    <ng-container *ngIf="authService.hasRoles(['Administrator','ProjectManager'])">
      <div class="col-md-6 d-flex justify-content-end">
        <button class="btn btn-primary" [routerLink]="['/add-project']">Add Project</button>
      </div>
    </ng-container>
  </div>

  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
      <th (click)="onSortChange('id')" class="sortable">
        ID
        <i *ngIf="sortColumn === 'id'" class="bi" [ngClass]="{'bi-arrow-up-square-fill': sortOrder === 'asc',
        'bi-arrow-down-square-fill': sortOrder === 'desc'}"></i>
      </th>
      <th (click)="onSortChange('projectType')" class="sortable">
        ProjectType
        <i *ngIf="sortColumn === 'projectType'" class="bi" [ngClass]="{'bi-arrow-up-square-fill': sortOrder === 'asc',
        'bi-arrow-down-square-fill': sortOrder === 'desc'}"></i>
      </th>
      <th (click)="onSortChange('projectManager')" class="sortable">
        Project Manager
        <i *ngIf="sortColumn === 'projectManager'" class="bi" [ngClass]="{'bi-arrow-up-square-fill': sortOrder === 'asc',
        'bi-arrow-down-square-fill': sortOrder === 'desc'}"></i>
      </th>
      <th (click)="onSortChange('status')" class="sortable">
        Status
        <i *ngIf="sortColumn === 'status'" class="bi" [ngClass]="{'bi-arrow-up-square-fill': sortOrder === 'asc',
      'bi-arrow-down-square-fill': sortOrder === 'desc'}"></i>
      </th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let project of filteredProjects">
      <td>{{ project.id }}</td>
      <td>{{ project.projectType }}</td>
      <td>
        <a [routerLink]="['/view-employee', project.projectManager.id]" class="btn btn-warning">{{ project.projectManager.fullName }}</a>
      </td>
      <td>{{ project.status }}</td>
      <td>
        <div class="d-flex justify-content-center">
          <button (click)="onProjectDetails(project.id)" class="btn btn-sm btn-primary me-3 w-50">Details</button>
          <ng-container *ngIf="authService.hasRoles(['Administrator','ProjectManager'])">
            <button (click)="onEditProject(project.id)" class="btn btn-sm btn-warning me-3 w-50">Edit</button>
            <button (click)="onDeactivateProject(project.id)" class="btn btn-sm btn-danger w-50">Deactivate</button>
          </ng-container>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex flex-column align-items-center mt-3">
    <div class="btn-group w-25">
      <button (click)="onPageChange(page - 1)" [disabled]="page === 1" class="btn btn-primary w-100">
        Previous
      </button>
      <button (click)="onPageChange(page + 1)" [disabled]="page >= totalPages" class="btn btn-primary w-100">
        Next
      </button>
    </div>
    <span class="mt-2">Page {{ page }} of {{ totalPages }}</span>
  </div>
</div>
