<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the Out Of Office system!</h1>
    <p class="lead">This system is designed to help manage employee out of office schedules and project assignments. With this system, you can:</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Add new employees to the system</li>
      <li class="list-group-item">Manage existing employee schedules</li>
      <li class="list-group-item">View and manage approval requests for out of office schedules</li>
      <li class="list-group-item">Assign employees to projects or unassign them as needed</li>
      <li class="list-group-item">View a calendar of all out of office schedules</li>
      <li class="list-group-item">And much more!</li>
    </ul>
    <hr class="my-4">
    <p>Explore the features and see how it can simplify your scheduling and project management tasks.</p>
  </div>
</div>
