<div class="container mt-4">
  <h2>{{isEditMode? 'Edit' : 'Leave New'}} Request</h2>
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>
  <form [formGroup]="leaveRequestForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="absenceReason">Absence Reason</label>
      <select id="absenceReason" class="form-control" formControlName="absenceReason">
        <option *ngFor="let reason of absenceReasons" [value]="reason">{{ reason }}</option>
      </select>
      <div *ngIf="leaveRequestForm.get('absenceReason')?.invalid && leaveRequestForm.get('absenceReason')?.touched"
           class="text-danger">
        Absence Reason is required.
      </div>
    </div>
    <div class="form-group">
      <label for="startDate">Start Date</label>
      <input type="date" id="startDate" class="form-control" formControlName="startDate">
      <div *ngIf="leaveRequestForm.get('startDate')?.invalid && leaveRequestForm.get('startDate')?.touched"
           class="text-danger">
        Start Date is required.
      </div>
    </div>
    <div class="form-group">
      <label for="endDate">End Date</label>
      <input type="date" id="endDate" class="form-control" formControlName="endDate">
      <div *ngIf="leaveRequestForm.get('endDate')?.invalid && leaveRequestForm.get('endDate')?.touched"
           class="text-danger">
        End Date is required.
      </div>
    </div>
    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea id="comment" class="form-control" formControlName="comment" rows="5"></textarea>
      <div *ngIf="leaveRequestForm.get('comment')?.invalid && leaveRequestForm.get('comment')?.touched"
           class="text-danger">
        Comment is invalid.
      </div>
    </div>
    <div class="mt-3">
      <button type="submit" class="btn btn-primary me-3 " [disabled]="leaveRequestForm.invalid">
        {{isEditMode? 'Edit' : 'Leave'}} Request
      </button>
      <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
